<div class="registration">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <div class="line line1">
    <div class="field">
      <%= f.label :name, "Name*" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email, "Email*" %><br>
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="line line2">
    <div class="field">
      <%= f.label :password, "Password*" %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :product_id, "Barrel ID*" %>
       <div class="help">
          <div class="tooltip_triangle"> </div>
          <div class="tooltip"> 
            <small> Your Barrel ID is the identification number engraved on the bottom of your rain barrel. </small>
          </div>
      </div><br>
      <%= f.number_field :product_id %>
    </div>
  </div>

  <div class="line line3">
    <div class="field">
      <%= f.label :street_address, "Street Address" %> 
      <div class="help">
          <div class="tooltip_triangle"> </div>
          <div class="tooltip"> 
            <small> We use your address to calculate how much water you can expect to collect, based on the rainfall patterns in your area and  your roof's square footage, among other statistics. </small>
          </div>
      </div><br>
      <%= f.text_field :street_address %>
    </div>
  </div>
  
  <div class="line line4">
    <div class="field">
      <%= f.label :city, "City" %><br>
      <%= f.text_field :city %>
    </div>
    
    <div class="field">
      <%= f.label "State" %>
      <%= f.select(:state, User.states, {}) %>
    </div>
  
    <div class="field">
      <%= f.label :zip_code, "Zip Code" %><br>
      <%= f.number_field :zip_code %>
    </div>
  </div>
  
  <div class="line line5">
    <div class="field">
      <%= f.label :email_alerts, "Email alerts" %> 
      <div class="help">
          <div class="tooltip_triangle"> </div>
          <div class="tooltip"> 
            <small> Receive e-mail alerts to your inbox when your barrel water becomes unsafe. High acidity (pH) or high total dissolved solids (TDS) are two examples of unsafe conditions for which an e-mail alert would be sent. </small>
          </div>
      </div><br>
      <%= f.check_box :email_alerts %>
    </div>
  </div>

      <div class="actions">
        <%= f.submit(params[:action] == "edit" ? 'Save' : 'Register', class: "btn") %>
      </div>
  <% end %>
</div>
