<div class="top-bar"> 
	<div class="sessions">
		<%= link_to 'Sign Up', new_user_path %>
		<% if logged_in? %>
			<%= link_to "#{current_user.name.split(" ")[0]}", edit_user_path(current_user) %>
		<% else %>
			<%= link_to 'Login',  login_path, {class: 'login-link'} %>
		<% end %>
	</div>
	<div class="login-popup"> 
		<%= render "sessions/new" %>
	</div>
</div>
<h1 class="title">  </h1>
<div id="nav-bar-wrap">
	<div id="nav_bar"> 
		<h3 class="logo"> 
			<span>R</span>
			<span>a</span>
			<span>i</span>
			<span>n</span>
			<span>S</span>
			<span>e</span>
			<span>n</span>
			<span>s</span>
			<span>e</span> 
		</h3>
		<ul id="nav_list">
			<li> 
				<a href="/rain_barrel/water_quality">
					<strong> Water Quality <br/></strong>
					<small> Stats & explanations </small>
				</a>
			</li>
			<li> 
				<a href="/rain_barrel/water_usage">
					<strong> Water Usage History <br/> </strong>
					<small> Stats, conservation & logs </small>
				</a>
			</li>
			<li> 
				<a href="/rain_barrel/filter_life">
					<strong> Water Filter <br/> </strong>
					<small> Life remaining, where to buy </small>
				</a>
			</li>
		</ul>
	</div>
</div>
<div id="app-wrapper">
	<div id="wrapper">
		<!-- Simulations: -->
		<% link_to "regular rainstorm", "rain_barrel/run_sim?type=simple" %>
		<% link_to "acid rainstorm (high pH)", "rain_barrel/run_sim?type=ph" %>
		<% link_to "high tds", "rain_barrel/run_sim?type=TDS" %>
		<% link_to "high pH + high TDS", "rain_barrel/run_sim?type=ph_and_TDS" %>
			<div class="circle-wrap circle-wl">
				<div class="wl-label circle label"><span class="circle-text"> Water Level </span></div>
				<div class="wl-percent circle"><span class="circle-text"> 33% </span></div>
				<div class="wl-gallons circle"><span class="circle-text"> 12g </span></div>
			</div>
			<div id="barrel"> 
				<div id="water_level"> 
					<%= link_to "","/rain_barrel/water_quality", {class: 'water_quality_link'} %> 
				</div>
				
			</div>
	</div>
</div>

