<div class="top-bar"> 
	<div class="sessions">
		<% if !logged_in? %>
			<%= link_to 'Sign Up', new_user_path %>
		<% end %>
		<% if logged_in? %>
			<%= link_to "#{current_user.name.split(" ")[0]}", edit_user_path(current_user) %>
		<% else %>
			<%= link_to 'Login',  login_path, {class: 'login-link'} %>
		<% end %>
	</div>
	<div class="login-popup"> 
		<%= render "sessions/new" %>
	</div>
</div>
<h1 class="title">  </h1>
<div id="nav-bar-wrap">
	<div id="nav_bar"> 
		<h3 class="logo"> 
			<span>R</span>
			<span>a</span>
			<span>i</span>
			<span>n</span>
			<span>S</span>
			<span>e</span>
			<span>n</span>
			<span>s</span>
			<span>e</span> 
		</h3>
		<ul id="nav_list">
			<li> 
				<a href="/rain_barrel/water_usage" class="wl-link selected">
					<strong> Water Usage History <br/> </strong>
					<small> Stats, conservation & logs </small>
				</a>
			</li>
			<li> 
				<a href="/rain_barrel/water_quality" class="wq-link">
					<strong> Water Quality <br/></strong>
					<small> Stats & explanations </small>
				</a>
			</li>
			<li> 
				<a href="/rain_barrel/filter_life" class="fl-link">
					<strong> Water Filter <br/> </strong>
					<small> Life remaining, where to buy </small>
				</a>
			</li>
		</ul>
	</div>
</div>
<div id="app-wrapper">
	<div id="wrapper">
		<!-- Simulations: -->
		<% link_to "regular rainstorm", "rain_barrel/run_sim?type=simple" %>
		<% link_to "acid rainstorm (high pH)", "rain_barrel/run_sim?type=ph" %>
		<% link_to "high tds", "rain_barrel/run_sim?type=TDS" %>
		<% link_to "high pH + high TDS", "rain_barrel/run_sim?type=ph_and_TDS" %>
			<div class="circle-wrap circle-wl">
				<div id="wl-graphic" class="wl-label circle label"><span class="circle-text"> Water Level </span></div>
				<div class="wl-gallons preview"><span class="circle-text"> 12 gallons </span></div>
				<div class="wl-line preview"> </div>
				<div class="wl-percent preview"><span class="circle-text"> 33% full </span></div>
				
			</div>

			<div class="circle-wrap circle-wq">
				<div id="wq-graphic" class="wq-label circle label"><span class="circle-text"> Water Quality </span></div>
				<div class="wq-status circle preview"><span class="circle-text"> </span></div>
				
			</div>

			<div class="circle-wrap circle-fl">
				<div id="fl-graphic" class="fl-label circle label"><span class="circle-text"> Filter </span></div>
				<div class="fl-status circle preview"><span class="circle-text"> Status: </span></div>
			</div>

			<div id="barrel"> 
				<div class="ph-scale"></div>

				<!-- water level graphic -->
				<div id="water_level" class='wl-graphic preview-graphic'> 
					<%= link_to "","/rain_barrel/water_quality", {class: 'water_quality_link'} %> 
				</div>

				<!-- water quality graphic -->

				<div class="pH-bar wq-graphic preview-graphic"> 
					<div class="bar-label"> ph  </div>
				</div>

				<div class="tds-bar wq-graphic preview-graphic">
					<div class="bar-label"> tds </div>
				</div>

				<!-- filter life graphic -->
				<div class="fl-bar fl-graphic preview-graphic"> </div>
				
				<div class="tds-scale"></div>
			</div>
	</div>
</div>

