<div id="legend_wrapper">
	<div id="legend">
		<div id="legend-label" class="legend-elt"> Legend: </div>
	
		<div id="ideal" class="legend-elt"> 
				<span class="checkmark">
    			<div class="checkmark_circle"></div>
    			<div class="checkmark_stem"></div>
    			<div class="checkmark_kick"></div>
				</span> Ideal 
		</div>
		<div id="drinkable" class="legend-elt"> <div class="legend-box"></div> Drinkable </div>
		<div id="unsafe" class="legend-elt"> <div class="unsafe-icon"></div> Unsafe </div>
	</div>
</div>

<div id="data"> 
	<div id="pH" class="data-elt-wrapper"> 
		<div class="data-status"></div> 
		<div class="data-elt"> Current pH: 
			<span class="<%= @ph_color + " data-bit" %>"> <%= @water_quality.ph %> </span>
		</div>
		<div class="explanation"> pH measures the total acidity of the water 
			stored in your rain barrel. The range is from 0-14, with 0 being the most 
			acidic and 14 being the most basic. The ideal range for drinking water 
			is from 6.5-7.5, acceptable drinking range is from 6 - 8, and it is unsafe 
			to drink otherwise. 
			
			<br/><br/>
			<div class="fix-link-wrapper"> 
				<%= link_to "Click for intructions when pH levels are unsafe".html_safe, "#ph_fix", {class: "fix_link"} %> 
				<div class='triangle-down'></div>
			</div>
			
			<div class="fix"> 
				<!-- <a name="ph_fix"> </a> -->
				<p> If the pH level is too high or too low within 1 point, you may wait until more water is added to your rain barrel, this can lower/raise the pH into the desired range. </p>

				<p> If the pH is at an extreme in either direction then you are likely dealing with a filter or acid rain problem. In such a case, either check the filter or drain the barrel. </p>
			</div>
		</div> 

		

	</div>

	<div id="TDS" class="data-elt-wrapper"> 
		<div class="data-status"></div> 
		<div class="data-elt"> Current TDS: 
			<span class="<%= @TDS_color + " data-bit" %>"><%= @water_quality.total_dissolved_solids %> </span> 
		</div>
		<div class="explanation"> The TDS level is the Total Dissolved Solids. The 
			ideal range for drinking water is from 0-50, drinkable is from 50-400, 
			and unsafe to drink otherwise.  
			
			<br/><br/>
			<div class="fix-link-wrapper"> 
			 <%= link_to "Click for intructions when TDS levels are unsafe".html_safe, "#tds_fix", {class: "fix_link"} %> 
			 <div class='triangle-down'></div>
			</div>

			<div class="fix">
				<!-- <a name="tds_fix"> </a> -->
				<p> When TDS levels are high you must empty your rain barrel and check your primary filter to make sure it is intact. </p>
			</div>
		</div>

		
	</div>

	<div id="temp" class="data-elt-wrapper"> 
		<div class="data-status"></div> 
		<div class="data-elt"> Current Temperature: <%= @water_quality.temperature %> </div>
		<div class="explanation"> The temperature of the water in the barrel. 
			
			<br/><br/>
			<div class="fix-link-wrapper"> 
				<%= link_to "Click for intructions when Temperature is freezing".html_safe, "#ntu_fix", {class: "fix_link"} %>
				<div class='triangle-down'></div>
			</div>
			
			<div class="fix">
				<p>If temperatures become freezing, you will likely be unable to drain water from the barrel. This should not damage your barrel as long as there is room for the water to expand. </p>

				<p>If you would like to prevent the water from freezing, you can try to insulate the barrel. Some common solutions involve the use of electrical heat tape, or encasing the barrel inside a structure and filling that structure with insulating material. An example of this would be encompassing the barrel with a wooden box and insulating with hay.</p>
			</div>	
		</div>

	</div>
</div>
