<section id="usage" class="usage-section">
	<div class="graph_wrap">
		<div id="chart_select">
				<%= select("metric", "select", %w[Water\ Collected\ (gallons) Water\ Used\ (gallons) Amount\ Overflown\ (gallons)]) %> 
			
			<ul id="time_scale">
				<li class="time-period">Months</li>
				<li class="time-period">Weeks</li>
				<li class="time-period current">Days</li>
				<li class="prompt"> Select time period: </li>
			</ul>
		</div>
		<div class="graph-legend"> 
			<div class="overflow-key">
				<span class="key-text"> Overflowed </span>
			</div>
		</div>

		<div id="date-period"> </div>
		
		
		<!-- Graph goes here -->	
		<div id="graphContainer"></div>
			
		<div class="meta_stats" id="meta_stats_water_collected">
			<!-- WORKOUT STATS-->
  		<div class="data-stat" id="twc">
  	 		<h3> Total Water Collected </h3>
  	    <p><%= DailyWaterLog.sum(:water_collected).to_i %> gallons</p>
			</div>
			<div class="data-stat" id="emc">
  	 		<h3> Estimated Max Collection (annually) </h3>
  	    <p><%= DailyWaterLog.sum(:water_collected).to_i * 7 %> gallons</p>
			</div>
		</div>

		<div class="meta_stats" id="meta_stats_water_used">
			<div class="data-stat" id="twu">
		 		<h3> Total Water Used </h3>
  	  	<p><%= DailyWaterLog.sum(:water_used).to_i %> gallons <p>
			</div>	
			<div class="data-stat" id="twl">
		 		<h3> Total Water Lost </h3>
  	  	<p><%= DailyWaterLog.sum(:water_used).to_i / 2 %> gallons <p>
			</div>
		</div>

		<div class="meta_stats" id="meta_stats_amount_overflown">
			<div class="data-stat" id="two">
		 		<h3> Total Water Overflown </h3>
  	  	<p><%= DailyWaterLog.sum(:amount_overflown).to_i %> gallons <p>
			</div>	
			<div class="data-stat" id="noe">
		 		<h3> # of Overflow Events </h3>
  	  	<p> <%= DailyWaterLog.where(overflowed: true).count %> <p>
			</div>
			<div class="data-stat" id="awo">
		 		<h3> Avg. Water Overflown </h3>
  	  	<p> <%= DailyWaterLog.sum(:amount_overflown).to_i / DailyWaterLog.where(overflowed: true).count %> <p>
			</div>
		</div>
		
		<!-- Water Collected -->
		<div class="explanation twc"> The total amount of water, in gallons, that your rain barrel has collected. </div> 
		<div class="explanation emc"> The estimated amount of water that you could potentially collect, based on the square feet of your roof and rainfall patterns in your area. </div> 
	
		<!-- Water Used -->
		<div class="explanation twu"> The total amount of water, in gallons, which you have used 	for various purposes. </div>
		<div class="explanation twl"> The total amount of water lost from overflow if you had started the day with an empty barrel. </div>

		<!-- Amount Overflown -->
		<div class="explanation two"> The total amount of water, in gallons, which has overflown from the rain barrel. </div>
		<div class="explanation noe"> The total number of times that water has overflowed from the rain barrel. </div> 
		<div class="explanation awo"> The average amount of water, in gallons, which overflows from the rain barrel during an overflow event. </div>

	</div>
</section>
