<!DOCTYPE html>
<html>
<head>
  <title>RainBarrel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if @alerts && !@alerts.empty? %>
	<div id='alert'> 
		<div class="warning-text">
			<span class="warning"> </span>
			Warning: Water is unsafe to drink. Reasons:
		<% @alerts.each do |alert| %>
			<p> <%= alert %> </p>
		<% end %>
		</div>
	</div>
	<% end %>
<%= yield %>

</body>
</html>
