<!DOCTYPE html>
<html>
<head>
  <title>RainSense</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script src="/app/vendor/d3.js" charset="utf-8"></script>
</head>
<body>
	<div class="top-bar"> 
		<div class="sessions">
			<ul id="top-bar-nav">
				<% if logged_in? %>
					<li> 
						<%= link_to "#{current_user.name.split(" ")[0]}", edit_user_path(current_user) %> 
					</li>
					<li> <%= link_to "Logout", logout_path %> </li>
				<% else %>
					<li> 
						<%= link_to 'Login',  login_path, {class: 'login-link'} %> 

		<div class="login-popup"> 
			<div class="login-triangle-up"> </div>
			<%= render "sessions/new" %>
		</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
	<% if request.fullpath != "/"%>
	<div class="where-i-am">
		<a href="/">
		<h3 class="logo logo-small"> 
				<span class='arrow'><</span>
				<span class="logo-letter">R</span>
				<span class="logo-letter">a</span>
				<span class="logo-letter">i</span>
				<span class="logo-letter">n</span>
				<span class="logo-letter">S</span>
				<span class="logo-letter">e</span>
				<span class="logo-letter">n</span>
				<span class="logo-letter">s</span>
				<span class="logo-letter">e</span> 
			</h3>
			<h4> <%= request.fullpath.split('/')[2].split('_').map(&:capitalize).join(' ') %> </h4>
			</a>
		</div>

		<!-- <div class="icon_home"> 
			<%= link_to "", root_path, {	class: "icon_home_link"} %> 
		</div> -->
	<% end %>
	<div class="page-wrap">
		<div id='alert'> 
			<div class="warning-text">
				<span class="warning"> </span>
				Warning: Water is unsafe to drink. Reasons:
			</div>
			
			<%= link_to "More info >>", "	/rain_barrel/water_quality", {class: "warning-link"} %>
		</div>
		<%= yield %>
	</div>
</body>
</html>
